# pyhcl==0.4.4
# regex==2020.4.4
argparse
flake8
pyhcl
regex
Sphinx
tox
# test packages
pytest
pytest-env
moto
pytest-cov
ruamel.yaml
# flake8: noqa
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
